/* CSS specific for desktop browsers. */

/* Related to selectionMarkers.css on formulabar*/
#tb_formulabar_item_formula .inputbar_selection_handles *{
	background-size: 20px;
	background-position-y: top;
	width: 20px;
	background-repeat: no-repeat;
	margin-left: 1px !important;
	transform: translateY(-12px);
}
#tb_formulabar_item_formula .inputbar_selection_handles .leaflet-selection-marker-start{
	margin-left: -20px !important;
}

#loolwsd-version span:before,
#lokit-version > span:before {
	content: ' (';
	white-space: pre;
}
#loolwsd-version span:after,
#lokit-version > span:after {
	content: ')';
}

/* btns hover status
   Rules not intended for touch devices */

.button-secondary:hover,
button:not(.ui-corner-all):not(.button-primary):hover {
	cursor: pointer;
	color: var(--color-text-darker) !important;
	background-color: var(--color-background-lighter) !important;
	border: 1px solid var(--color-border-darker);
}

.button-primary:hover {
	background-color: var(--color-primary-lighter);
}
