.div-infobar-wrap {
	left: 50%;
	bottom: 0;
	position: absolute;
	transform: translate(-50%);
	margin-bottom: 40px;
	box-shadow: 0 -1px 2px 0 rgba(0, 0, 0, 0.15), 0 2px 2px 0 rgba(0, 0, 0, 0.1);
}

.div-infobar-modal {
	display: block;
	height: 42px;
	border: none;
}

.ui-widget-header {
	background: var(--color-background-darker);
	border: var(--color-border-darker);
	color: var(--color-text-darker);
	border-radius: var(--border-radius);
	font-size: var(--header-font-size);
	font-family: var(--lool-font);
}
.ui-widget-content {
	color: var(--color-main-text);
}
