:root {
	/*All used fonts (except w2ui)
	----------------------------------*/
	--lool-font: 'Segoe UI', Tahoma, Arial, Helvetica, sans-serif;
	/*investigate what are the drawback in consisntly use --lool-fonts
	for vex, jquery-ui and perhaps mobile*/
	--mobile-font: Trebuchet MS,Tahoma,Verdana,Arial,sans-serif;
	--vex-font: Trebuchet MS,Tahoma,Verdana,Arial,sans-serif;
	--jquery-ui-font: Trebuchet MS,Tahoma,Verdana,Arial,sans-serif;

	--docs-font: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
	--docs--pre-font: 'Consolas', 'Menlo', 'Lucida Console', 'Courier New', monospace;

	/* Shared color for cell and selection border */
	--cell-cursor-selection-border-color: var(--color-primary);
}

/* Flexbox */
.d-flex {
	display: flex;
}
.flex-column {
	/* Initial value */
	flex-direction: column;
}
.flex-row {
	flex-direction: row;
}
.align-items-center {
	align-items: center;
}
.justify-items-center {
	justify-items: center;
}
.align-content-center {
	align-content: center;
}
.justify-content-center {
	justify-content: center;
}

/* Space */
.m-v-0 {
	margin-block: 0;
}

/* Border */
.border-0 {
	border: 0 !important;
}

/* clip technique: hide visually but keep it available to screen readers */
.visuallyhidden {
	border: 0;
	clip: rect(0 0 0 0);
	height: 1px;
	margin: -1px;
	overflow: hidden;
	padding: 0;
	position: absolute;
	width: 1px;
}
#document-container.readonly.mobile.spreadsheet-doctype {
	top: 36px;
	position: fixed;
}
#document-container {
	background-color: var(--color-main-background);
	position: relative;
	margin: 0;
	padding: 0;
	width: 100%;
	flex: 1;
	display: block;
	height: 100%;
}

#toolbar-wrapper.readonly {
	display: none;
}

#map {
	position: absolute;
	top: 0px;
	bottom: 0px;
	left: 0px;
	right: 0px;
	z-index: 10;
	cursor: auto;
	background-color: transparent;
	margin: 0;
}

.leaflet-progress-layer
{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	z-index: 1000;
}

.bucket-cursor {
	cursor: url('images/cursors/fill.png') 4 9, auto !important;/*setting coordinates to align the tip of the bucket icon */
}
.lool-scrollbar-show {
	opacity: 1 !important;
	filter: 'alpha(opacity=100)' !important;
	-ms-filter: 'alpha(opacity=100)' !important;
}

.table-column-resize-marker {
	margin-left: 0px;
	margin-top: 0px;
	width: 24px;
	height: 24px;
	background-image: url('images/table-column-resize-marker.svg');
	background-size: 100% 100%;
	background-repeat: no-repeat;
	cursor: col-resize;
}

.table-column-resize-marker:hover {
	margin-left: 0px;
	margin-top: 0px;
	width: 24px;
	height: 24px;
	background-image: url('images/table-column-resize-marker-hover.svg');
	background-size: 100% 100%;
	background-repeat: no-repeat;
	cursor: col-resize;
}

.table-row-resize-marker {
	margin-left: 0px;
	margin-top: 0px;
	width: 24px;
	height: 24px;
	background-image: url('images/table-row-resize-marker.svg');
	background-size: 100% 100%;
	background-repeat: no-repeat;
	cursor: row-resize;
}

.table-row-resize-marker:hover {
	margin-left: 0px;
	margin-top: 0px;
	width: 24px;
	height: 24px;
	background-image: url('images/table-row-resize-marker-hover.svg');
	background-size: 100% 100%;
	background-repeat: no-repeat;
	cursor: row-resize;
}

.table-select-marker {
	margin: 0px;
	width: 24px;
	height: 24px;
	background: url('images/table-row-or-column-select-marker.svg') no-repeat center center /12px;
	cursor: pointer;
}

.table-select-marker::before {
	content: '';
	position: absolute;
	z-index: 0;
}

.table-select-marker--column::before {
	bottom: 50%;
	border-bottom: 1px dashed lightgray;
	width: 100%;
}

.table-select-marker--row::before {
	left: 50%;
	border-left: 1px dashed lightgray;
	height: 100%;
}

.table-select-marker:hover {
	background: url('images/table-row-or-column-select-marker-selected.svg') no-repeat center center /12px;
}

.table-select-marker:hover::before {
	border-color: var(--color-primary);
}

.table-move-marker {
	margin-left: 0px;
	margin-top: 0px;
	width: 24px;
	height: 24px;
	background-image: url('images/table-move-marker.svg');
	background-size: 100% 100%;
	background-repeat: no-repeat;
	cursor: move;
}

body {
	margin: 0;
	overflow: hidden;
	overscroll-behavior-y: none; /* disable the pull to reload gesture */
	background: var(--color-main-background);
	touch-action: none;
	line-height: normal;
}

#presentation-controls-wrapper {
	background: var(--color-main-background);
	position: relative;
	border-top: 1px solid var(--color-border);
	display: none;
}

#sidebar-dock-wrapper {
	display: none;
	background: var(--color-main-background);
	position: relative;
	border-inline-start: 1px solid var(--color-border);
	overflow: hidden;
	z-index: 990;
}
nav.spreadsheet-color-indicator ~ #sidebar-dock-wrapper {
	bottom: 72px;
}
#sidebar-panel {
	padding: 0px;
	margin: 0px;
	position: relative;
	width: auto;
	height: 100%;
	overflow-x: hidden;
	overflow-y: auto;
	z-index: 1200;
	scrollbar-width: auto;
	scrollbar-color: var(--color-border) transparent;
}

#sidebar-panel::-webkit-scrollbar {
	width: 8px;
}

#sidebar-panel::-webkit-scrollbar-thumb {
	background-color: var(--color-border);
}

#toolbar-wrapper {
	table-layout: fixed;
	border-collapse: separate;
	border-spacing: 0;
	width: 100%;
	border-top: none;
	z-index: 11 !important;
	border-bottom: 1px solid var(--color-border);
	background-color: var(--color-background-lighter);
}
#toolbar-wrapper:not(.mobile) {
	padding: 3px 0;
}
/* Remove bottom padding in calc as it affects formulabar*/
#toolbar-wrapper.spreadsheet:not(.mobile) {
	padding-block-end: 0;
}

#toolbar-logo {
	width: 0;
}

/* Hide hamburger except on mobile phones */
#toolbar-hamburger {
	width: 0;
}

/* Hide back btn except on mobile phones */
#toolbar-mobile-back {
	width: 0;
}

#mobile-edit-button {
	position: absolute;
	width: 56px;
	height: 56px;
	right: 16px;
	bottom: 16px;
	background-color: var(--color-primary);
	border-radius: 50%;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	z-index: 1001;
	transform: scale(1);
	transition: transform 0.5s;
}

#mobile-edit-button.impress.portrait{
	bottom: 70px;
}

#mobile-edit-button-image {
	position: relative;
	margin-inline-start: 16px;
	top: 16px;
	width: 24px;
	height: 24px;
	background: url('images/baseline-edit-24px.svg') no-repeat center !important;
	transform: rotate(0deg);
	transition: transform 0.5s;
}
#mobile-edit-button:active{
	transform: scale(1.2);
}
#mobile-edit-button:active > #mobile-edit-button-image {
	transform: rotate(45deg);
}

.lool-font {
	font-family: var(--lool-font) !important;
	font-size: var(--default-font-size) !important;
	font-weight: normal !important;
	padding: 3px 5px 3px 3px;
	color: var(--color-main-text);
}

#search-input {
	height: 22px;
	background: var(--color-background-lighter);
}
#search-input:hover {
	border: 1px solid var(--color-border-darker) !important;
}
#search-input::placeholder {
	color: var(--color-main-text);
}

.lool-character {
	table-layout: fixed;
	font: 17px/1.5 'Helvetica Neue', Arial, Helvetica, sans-serif;
	text-align: center;
}

.lool-character td {
	width: 20px;
}

.annotation-marker {
	margin-left: 0px;
	margin-top: 0px;
	width: 24px;
	height: 24px;
	background-image: url('images/note.svg');
	background-size: 100% 100%;
	background-repeat: no-repeat;
	outline: none;
}

.lool-scrolled {
	overflow: auto;
}

.lool-mobile-container {
	top: 30px;
	margin: 0;
	width: 1px;
	opacity: 0;
}

.lool-context-down {
	border: 1px solid var(--color-border-dark);
	background-color: var(--color-background-dark);
}

.lool-mobile-input {
	width: 1px;
	padding: 0px;
	border: 0px;
}

/* Important to override context-menu-icon's font-family here otherwise, jquery-contextmenu.css
 * will try to load its own font file which is not available in dist/ */
.context-menu-icon::before {
	font-family: var(--lool-font) !important;
	content: '\2713';
	color: var(--color-main-text) !important;
}
.context-menu-icon-lo-checkmark:before {
	content: '\2713';
}

.context-menu-hover {
	background-color: var(--color-background-darker) !important;
	color: var(--color-text-darker) !important;
}

.context-menu-hover > span > a {
	color: var(--color-text-darker);
}

.context-menu-submenu.context-menu-hover:after {
	border-color: transparent transparent transparent var(--color-background-lighter);
}

.lool-annotation {
	position: absolute;
	text-align: center;
	user-select: text;
	-moz-user-select: text;
	-webkit-user-select: text;
	-ms-user-select: text;
	z-index: 10;
}

.lool-annotation:not(annotation-active) .lool-annotation-collapsed{
	position: absolute;
	left: 24px;
}
.lool-annotation.annotation-active:not(.rtl) .lool-annotation-collapsed{
	position: absolute;
	left: 0 !important;
}
.lool-annotation.annotation-active.rtl .lool-annotation-collapsed{
	position: absolute;
	left: 48px !important;
}

#document-container > .lool-annotation:hover .lool-annotation-collapsed{
	box-shadow: 0 0 3px 0 rgb(0 0 0 / 50%), 0 0 10px 4px rgb(0 0 0 / 10%);
	cursor: pointer;
}

.lool-annotation-content-wrapper, .lool-annotation-redline-content-wrapper {
	padding: 8px;
	font-family: var(--lool-font) !important;
	font-size: var(--default-font-size);
	text-align: left;
	background-color: var(--color-background-lighter);
	box-shadow: 0 0 3px var(--color-box-shadow);
	color: var(--color-main-text);
	border: none;
	border-radius: var(--border-radius);
	width: var(--annotation-input-size);
}
.lool-annotation-content-wrapper:hover, .lool-annotation-redline-content-wrapper:hover {
	background-color: var(--color-background-dark);
	color: var(--color-text-dark);
}

.annotation-active.modify-annotation-container .lool-annotation-content-wrapper,
.annotation-active.reply-annotation-container .lool-annotation-content-wrapper,
.lool-annotation-collapsed.modalpopup {
	width: var(--annotation-input-size);
}

.lool-annotation-content {
	margin: 3px;
	line-height: 1.4;
	max-height: var(--annotation-input-size);
	overflow: auto;
}

.lool-annotation-reply-count-collapsed {
	background-color: var(--color-primary);
	color: var(--color-primary-text);
	font-weight: bold;
	font-family: var(--lool-font);
	font-size: 20px;
	border: 1px solid var(--color-primary);
	border-radius: 50%;
	z-index: 10;
	position: absolute;
	width: 24px;
	height: 24px;
	left: 26px;
	top: -10px;
}

#main-document-content {
	z-index: 0;
}

.lool-annotation-collapsed {
	background: var(--color-background-lighter);
	border-radius: 50%;
	width: 36px;
	height: 36px;
	box-shadow: 0 0 3px 5px var(--color-background-lighter), 0 0 1px 5px var(--color-box-shadow);
}

.annotation-active .lool-annotation-collapsed {
	box-shadow: 0 0 3px 5px var(--color-background-lighter), 0 0 1px 5px var(--color-box-shadow);
}

.jsdialog-container.lool-annotation-collapsed.modalpopup {
	border-radius: 8px !important;
	border: 1px solid var(--color-border) !important;
	background: var(--color-background-lighter) !important;
}

#mobile-wizard-popup {
	background-color: var(--color-background-lighter) !important;
}

.jsdialog-container.lool-annotation-collapsed.modalpopup .lokdialog.ui-dialog-content {
	background-color: transparent !important;
}

.jsdialog-container.lool-annotation-collapsed.modalpopup .lool-annotation {
	margin-bottom: 16px;
}

.jsdialog-container.lool-annotation-collapsed.modalpopup .lool-annotation:last-of-type {
	margin-bottom: 8px;
}

.jsdialog-container.lool-annotation-collapsed.modalpopup .lool-annotation:first-of-type {
	margin-top: 8px;
}

.jsdialog-container.lool-annotation-collapsed.modalpopup .lool-annotation-content-wrapper {
	box-shadow: none;
	border-width: 0px 0px 1px !important;
	border-bottom: 1px solid var(--color-border) !important;
	border-radius: 0 !important;
	background: var(--color-background-lighter);
}

.jsdialog-container.lool-annotation-collapsed.modalpopup [id^='comment-container-']:last-child > .lool-annotation-content-wrapper{
	border-width: 0 !important;
}


.lool-dont-break {
	/* These are technically the same, but use both */
	overflow-wrap: break-word;
	word-wrap: break-word;

	/* Don't eat new lines  */
	white-space: pre-wrap;

	/* Adds a hyphen where the word breaks, if supported (No Blink) */
	-ms-hyphens: auto;
	-moz-hyphens: auto;
	-webkit-hyphens: auto;
	hyphens: auto;
}

.lool-annotation-content-author {
	margin: 0;
	margin-top: 2px;
	height: 18px;
}

.lool-annotation-content-resolved {
	color: var(--color-success);
}

.lool-annotation-edit {
	margin: 3px;
	line-height: 1.4;
}

.lool-annotation-textarea {
	font-family: var(--lool-font) !important;
	font-size: var(--default-font-size);
	border: 1px solid var(--color-border);
	background-color: var(--color-background-dark);
	overflow-x: hidden;
	height: 50px;
	width: 100%;
	box-sizing: border-box;
}

#new-mobile-comment-input-area.lool-annotation-textarea {
	height: var(--annotation-input-size);
}

.lool-div-layer {
	position: absolute;
	left: 0;
	top: 0;
}

.lool-annotation-table {
	border-spacing: 0;
	border-collapse: separate;
	white-space: nowrap;
	width: 100%;
}

.lool-annotation-img {
	box-sizing: content-box !important;
	max-width: 32px;
	display: inline-block;
	border: solid 2px;
	border-radius: 50%;
	height: 32px;
	width: 32px;
	padding: 0;
}
.lool-annotation-img .avatar-img{
	border: none;
}
.lool-annotation-img > .avatar-img{
	display: block;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	width: 32px; /* Width of new image */
	height: 32px; /* Height of new image */
	background: url('images/user.svg') center 3px no-repeat;
}

.leaflet-container .leaflet-pane.leaflet-calc-background-pane {
	z-index: 0;
}

.avatar-img {
	border: solid 2px;
	border-radius: 50%;
}

.user-info {
	border-radius: 50%;
	width: 24px;
	height: 24px;
	overflow: auto;
	margin: auto;
}

.lool-annotation-author {
	padding-left: 10px;
	padding-right: 10px;
	vertical-align: top;
	display: table-cell;
	width: 100%;
	overflow: hidden;
	max-width: 110px;
}

.lool-annotation-menu, .lool-annotation-menu-redline, .lool-redline-accept-button, .lool-redline-reject-button {
	margin: 0 !important;
	padding: 0 !important;
	min-width: initial !important;
	width: 24px !important;
	height: 24px !important;
	vertical-align: top;
	border: 1px solid transparent !important;
	display: inline-block !important;
}

.lool-redline-accept-button {
	background: url('images/lc_acceptchanges.svg') no-repeat center !important;
}

.lool-redline-reject-button {
	background: url('images/lc_rejecttrackedchange.svg') no-repeat center !important;
}

.lool-annotation-menu, .lool-annotation-menu-redline {
	background: url('images/submenu.svg') no-repeat center/contain !important;
}

.lool-annotation-menu:hover, .lool-annotation-menu-redline:hover, .lool-redline-accept-button:hover, .lool-redline-reject-button:hover {
	border: 1px solid var(--color-border-darker);
}

.lool-annotation-date {
	font-size: var(--default-font-size);
}

.lool-annotation-menubar {
	margin: 0;
	padding: 0;
	vertical-align: top;
}
/*Tooltips
----------------------------------*/
[data-title]:hover:after {
	padding: 7px 9px;
	font-size: 1em;
	line-height: 1;
	opacity: 1;
	transition: all 0.1s ease 0.5s;
	visibility: visible;
}
.lool-annotation-collapsed [data-title]:hover:after {
	position: static;
	float: right;
	margin-top: 22px;
	margin-right: 8px;
}
[data-title]:after {
	content: attr(data-title);
	font-size: 1em !important;
	bottom: -1.6em;
	left: 100%;
	white-space: nowrap;
	opacity: 0;
	border-color: var(--color-border-darker);
	visibility: hidden;
}
.lool-ruler-left[data-title]:after,
.lool-ruler-right[data-title]:after {
	bottom: -2.8em;
	left: auto;
}
[data-title] {
	position: relative;
}

.lool-annotation-caption {
	font-weight: bold;
}

.lool-bar {
	box-shadow: 0 1px 5px rgba(0,0,0,0.65);
	border-radius: var(--border-radius);
	display: inline-block;
	margin: 3px;
	vertical-align: middle;
}

.lool-bar a,
.lool-bar a:hover {
	background-color: var(--color-background-lighter);
	border-bottom: 1px solid var(--color-border);
	width: 30px;
	height: 30px;
	line-height: 30px;
	display: block;
	text-align: center;
	text-decoration: none;
	color: var(--color-main-text);
}

.lool-bar a:hover {
	background-color: var(--color-background-darker);
}

.lool-bar a:first-child {
	border-top-left-radius: var(--border-radius);
	border-top-right-radius: var(--border-radius);
}

.lool-bar a:last-child {
	border-bottom-left-radius: var(--border-radius);
	border-bottom-right-radius: var(--border-radius);
	border-bottom: none;
}

.lool-bar a.leaflet-disabled {
	cursor: default;
	background-color: var(--color-background-lighter);
	color: var(--color-text-lighter);
}

.lool-bar a {
	background-position: 50% 50%;
	background-repeat: no-repeat;
	display: block;
	width: 30px;
	height: 30px;
	line-height: 30px;
}

.lool-control-scroll-up,
.lool-control-scroll-down {
	font: bold 18px 'Lucida Console', Monaco, monospace;
	text-indent: 1px;
}

.lokdialog_container.lokdialog_notitle .ui-dialog-titlebar {
	display: none;
}

.ui-dialog-title {
	min-height: 1em;
}

.lokdialog_container.ui-dialog.ui-widget-content {
	padding: 0px;
	overflow: visible;
	width: auto;
	height: auto;
	border: none;
	background-color: transparent;
	z-index: 1105;
}

.lokdialog_container.ui-dialog.ui-widget-content.jsdialog-container {
	background: var(--color-background-darker) !important;
}

.lokdialog.ui-dialog-content.ui-widget-content {
	padding: 0px;
	overflow: auto;
	border-radius: calc(var(--border-radius)/2);
}

.lokdialog_canvas {
	cursor: default;
	display: block; /* required to remove all borders around canvas element */
	caret-color: transparent; /* firefox shows a caret otherwise on top-left of the canvas */
	user-select: none;
	-moz-user-select: none;
	-khtml-user-select: none;
	-webkit-user-select: none;
	-o-user-select: none;
}

.lokblink {
	animation: lokblink 150ms infinite alternate;
}

@keyframes lokblink {
	from { opacity: 1; }
	to { opacity: 0; }
}

.form-field-frame {
	border: 1px solid;
	position: absolute;
	height: 100%;
	border-radius: var(--border-radius);
}

.form-field-button {
	background-color: var(--color-background-lighter);
	position: absolute;
	border: 1px solid;
	height: 100%;
	box-sizing: content-box;
	padding: 0px;
	border-radius: var(--border-radius);
}

.form-field-button:hover, .form-field-button:focus {
	background-color: var(--color-background-dark);
	outline: 0;
}

.form-field-button-image {
	margin: 3px;
}

.drop-down-field-list {
	position: absolute;
	border: 1px solid;
	cursor: pointer;
	background: var(--color-background-lighter);
}

.drop-down-field-list-item {
	width: calc(100% - 10px);
	padding-left: 5px;
	padding-right: 5px;
}

.drop-down-field-list-item.selected {
	background-color: var(--color-primary-lighter);
}
.drop-down-field-list-item:hover {
	background-color: var(--color-primary);
}

.word-wrap-for-vex-dialog {
	overflow-wrap: break-word;
}

.hyperlink-popup .leaflet-popup-content {
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.leaflet-canvas-container .cell-cursor-data {
	border-style: solid; /* required for ie11 */
	display: none; /* prevent cypress failure */

	border-top-color: var(--cell-cursor-selection-border-color); /* color */
	border-top-width: 2px; /* weight */
}

.leaflet-canvas-container .selections-data {
	border-style: solid; /* required for ie11 */
	display: none; /* prevent cypress failure */

	background-color: var(--cell-cursor-selection-border-color); /* fill color */
	opacity: 0.25; /* opacity */
	border-top-width: 1px; /* weight */
}

.leaflet-canvas-container .splitters-data {
	border-style: solid; /* required for ie11 */
	display: none; /* prevent cypress failure */

	color: var(--color-background-dark); /* color */
	opacity: 1; /* opacity */
	border-top-width: 3px; /* weight */
}

#product-name {
	text-align: center;
	justify-content: center;
	flex-grow: 1;
}

#about-dialog-container, #about-dialog-header {
	display: flex;
	flex-flow: row nowrap;
	place-content: stretch flex-start;
	align-items: stretch;
}

#about-dialog-container .spacer {
	height: 54px;
}

#about-dialog-logos {
	flex-grow: 1;
	flex-flow: column nowrap;
	place-items: stretch;
}

#about-dialog-container *, #about-dialog-header * {
	display: flex;
	flex-wrap: wrap;
}

#integrator-logo {
	align-items: center;
	justify-content: center;
	flex-grow: 0;
}

#product-logo {
	align-items: center;
	justify-content: right;
	flex-grow: 1;
	background-repeat: no-repeat;
	background-size: 82px;
	background-position: right center;
}
#about-dialog-info-container {
	align-items: center;
	justify-content: flex-start;
	flex-grow: 1;
}
#about-dialog-info {
	flex-direction: column;
}

/* ovveride some jquery css for contentcontrol datepicker */
#datepicker .ui-state-highlight {
	background: var(--color-background-dark) !important;
	font-weight: bold !important;
}

#datepicker .ui-state-default {
	background: var(--color-main-background);
	font-weight: normal;
	color: var(--color-main-text);
	border: 1px solid var(--color-border-lighter);
}

#datepicker .ui-state-active {
	border: 1px solid var(--color-border-dark);
}

#datepicker .ui-state-hover {
	border: 1px solid var(--color-border-darker);
	background: var(--color-background-lighter);
}

#datepicker .ui-datepicker-next span {
	background-image: url('images/lc_nextrecord.svg');
}

#datepicker .ui-icon-circle-triangle-e {
	background-position: 0;
}

#datepicker .ui-datepicker-prev span {
	background-image: url('images/lc_prevrecord.svg');
}

#datepicker .ui-icon-circle-triangle-w {
	background-position: 0;
}

#mentionPopup .lokdialog.ui-dialog-content.ui-widget-content {
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 100px;
	min-width: 100px;
}