.menuwizard .menu-entry-icon{
	padding-left: 4%;
}
#mobile-wizard:not(.menuwizard) .menu-entry-with-icon {
	padding-left: 10px;
	white-space: nowrap;
}
span.menu-entry-icon img {
	width: 24px !important;
	margin: 4px !important;
}

#mobile-wizard.menuwizard .mobile-wizard-back.close-button{
	visibility: hidden !important;
}

#toolbar-hamburger.menuwizard-opened{
	z-index: 1501 !important;
	position: relative !important;
	background-color: var(--color-primary-lighter) !important;
	padding-left: 3px !important;
	border-radius: 0 0 0 15px !important;
}

#mobile-wizard.menuwizard .mobile-wizard-titlebar{
	border: none !important;
}
span#main-menu-btn-icon {
	filter: none !important;
}
#fontnamecombobox {
	padding-right: 0px;
}
#fontheight {
	display: none;
}

#style {
	display: flex;
}

#fontsizecombobox.mobile-wizard {
	width: 100%;
}

.ui-header.level-1.mobile-wizard.ui-widget img[src='images/lc_downloadas-pdf.svg']{
	visibility: visible;
}

.layout {
	height: 58px;
	width: 72px;
	overflow: hidden;
	margin: 2px !important;
	display: inline-block;
	border: 1px solid #fff;
}

.layout.lool-context-down {
	background-color: #dddddd;
	box-shadow: inset 0px -1px 2px 5px #eee;
	border-color: #dddddd;
	border-radius: var(--border-radius)
}

.mobile-wizard.ui-button-box {
	margin-bottom: 30px;
}

/*Color-picker*/
.color-sample-selected {
	height: 32px !important;
	width: 32px !important;
	box-shadow: 0px 0px 2px 0px #0000008f;
	border-radius: 100px;
}

.no-color-selected, .auto-color-selected {
	text-align: center;
	font-size: 30pt;
	line-height: 32px;
	font-weight: 300;
	color: #ff0000 !important;
	background-color: #fff !important;
}

.colors-container-selected-basic-color{
	box-shadow: 0 2px 3px -2px var(--color-primary);
	border-radius: var(--border-radius);
	border: 2px solid var(--color-primary) !important;
}
.color-sample-small {
	border: 2px solid var(--color-border-lighter);
	width: 28px;
	height: 28px;
	color: #f0f8ff;
	text-align: center;
	vertical-align: bottom;
	display: table-cell;
	border-radius: var(--border-radius);
}

.color-sample-big {
	padding: 5px;
	width: 118px;
	height: 42px;
	color: #f0f8ff;
	text-align: right;
	vertical-align: bottom;
	display: table-cell;
	box-shadow: 0px 0px 0px 1px var(--color-border-lighter), 1px 1px 0 3px var(--color-background-lighter);
}

.colors-container {
	display: table;
	padding: 0 4%;
}

.colors-container-no-color-row, .colors-container-auto-color-row{
	display: flex;
	justify-content: space-between;
	height: 50px;
}

.colors-container-basic-colors-row {
	padding: 0 0 4%;
}

.colors-container-tints {
	padding-bottom: 0px;
}

.no-color-control-label, .auto-color-control-label {
	display: table-cell;
	padding-left: 4px;
	vertical-align: middle;
}

.no-color-control-mark, .auto-color-control-mark {
	color: #0b87e7 !important;
	font-size: larger;
	line-height: 0;
}

.no-color-control-icon, .auto-color-control-icon {
	display: table-cell;
	height: 32px !important;
	width: 32px !important;
	text-align: center;
	font-size: 26pt;
	line-height: 28px;
	font-weight: 300;
	color: #ff0000 !important;
	background: url('images/lc_square_rounded_unfilled.svg') no-repeat center;
}

.colors-container-basic-color-mark {
	border: 4px solid transparent;
	border-top: 5px solid #0b87e7;
	margin-top: 2px;
	position: absolute;
	margin-left: 10px
}

.colors-container-tint-mark {
	width: 20px;
	height: 20px;
	background-image: url('images/lc_color-picker-selected.svg');
	margin-left: auto;
	background-repeat: no-repeat;
	background-size: auto;
}
p.mobile-wizard.ui-combobox-text {
	margin: 0px;
	display: inline-block;
	width: 96%;
	vertical-align: middle;
	line-height: 42px;
	font-size: var(--default-font-size);
	padding-left: 4%;
}
.menuwizard #mobile-wizard-content > div .ui-widget {
	padding-left: 0px !important;
}
#mobile-wizard:not(.menuwizard) #mobile-wizard-content > .ui-header.level-0.mobile-wizard.ui-widget{
	padding-left: 2% !important;
	width: 100%;
}
.menu-entry-icon.inserttable, .menu-entry-icon.insertfield, .menu-entry-icon.insertheaderfooter, .menu-entry-icon.formattingmark, .menu-entry-icon.formatformmenu {
	padding-left: 2% !important;
}
#BackgroundColor > .ui-header-left {
	width: 100% !important;
}
p.mobile-wizard.ui-combobox-text:not(.selected) {
	color: var(--color-main-text) !important;
}

p.mobile-wizard.ui-combobox-text.selected {
	background: url('images/lc_listitem-selected.svg') no-repeat right;
	background-position-x: 94%;
	color: var(--color-primary) !important;
}
#mobile-wizard-content {
	overflow-y: hidden;
	overflow-x: hidden;
	position: static;
	width: 100%;
	min-height: 100%;
}
#mobile-wizard.funcwizard div#mobile-wizard-content.hideHelpBG {
	background: none !important;
}
#mobile-wizard.funcwizard div#mobile-wizard-content.showHelpBG {
	background: url('images/lc_helpindex_secondary.svg') no-repeat right 16px bottom 88px / 124px !important;
}

#ParaPropertyPanel + .ui-content{
	display: flex;
	flex-wrap: wrap !important;
	justify-content: space-around;
}
.ui-tabs-content > div[title='Layouts']{
	justify-content: center;
	-ms-box-orient: horizontal !important;
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -moz-flex;
	display: -webkit-flex;
	display: flex;
	align-self: center !important;
	align-items: center !important;
	-webkit-flex-wrap: wrap !important;
	flex-wrap: wrap !important;
	margin-top: 25px;
}
#rotationlabel, #cellbackgroundlabel, #NumberFormatCurrency > .unolabel, #NumberFormatPercent > .unolabel, #NumberFormatDecimal > .unolabel{
	display: none;
}
#mobile-wizard #NumberFormatDecimal, #mobile-wizard #NumberFormatPercent{
	margin-left: 20%;
}
#mobile-wizard #NumberFormatCurrency {
	margin-left: 4%;
}
#ScNumberFormatPropertyPanel + .ui-content .unospan-numberformat {
	width: 32px;
	float: left;
	margin-bottom: 4%;
}
.menuwizard .mobile-wizard-back {
	background-position-x: 22px;
	width: 52px;
}
.mobile-wizard-back.close-button {
	transform: rotate(-90deg);
	background-position-x: center;
}
.mobile-wizard-back {
	background-image: url('images/lc_closedocmobile.svg');
	background-repeat: no-repeat;
	width: 48px;
	background-position-x: 16px;
	background-position-y: center;
	height: 20px;
}

#mobile-wizard {
	width: 100%;
	position: relative;
	bottom: 0px;
	z-index: 2001;
	background-color: var(--color-main-background);
	box-shadow: 0px -2px 4px 1px #00000030;
	overflow-x: hidden;
	overflow-y: auto;
}

#mobile-wizard.menuwizard {
	z-index: 1001;
	background-color: var(--color-background-lighter);
}

#mobile-wizard-content *{
	font-family: var(--mobile-font);
	color: var(--color-main-text);
}

.mobile-wizard-titlebar {
	background-color: var(--color-background-lighter);
	top: 63px;
	height: var(--header-height);
	color: var(--color-main-text);
	border-bottom: 1px solid var(--color-border) !important;
	position: sticky;
	z-index: 2;
}

.ui-content.mobile-wizard:not(.unotoolbutton) {
	background-color: var(--color-main-background) !important;
	border: none !important;
	padding: 0px 0px 16px;
}
#mobile-wizard-content > #ScCellAppearancePropertyPanel + .ui-content.level-0.mobile-wizard{
	display: flex;
	justify-content: center;
	align-items: start;
	align-self: start;
	flex-wrap: wrap;
}
#mobile-wizard-content > #ScCellAppearancePropertyPanel + .ui-content.level-0.mobile-wizard .borderbutton {
	width: 42px;
	padding: 1px;
	background-color: #eeeeee;
	-webkit-box-shadow: inset 0px 0px 0px 2px #fff;
	box-shadow: inset 0px 0px 0px 2px #fff;
}
#mobile-wizard-content > #ScCellAppearancePropertyPanel + .ui-content.level-0.mobile-wizard .borderbutton.selected {
	-webkit-box-shadow: inset 0px 0px 0px 2px #0867af !important;
	box-shadow: inset 0px 0px 0px 2px #0867af !important;
}
.ui-header.mobile-wizard {
	width: 100%;
	height: 56px !important;
	font-size: var(--default-font-size) !important;
	margin: 0px;
	padding: 0px;
	border: solid 1px transparent;
	display: flex;
	flex-direction: row;
	align-items: center;
	background-color: var(--color-main-background);
	justify-content: space-between;
}

.ui-header.mobile-wizard.disabled .ui-header-left * {
	color: var(--color-text-lighter) !important;
}

.ui-header.mobile-wizard:active, .mobile-wizard.ui-combobox-text:active, .ui-header.mobile-wizard:focus, .mobile-wizard.ui-combobox-text:focus, .ui-header.mobile-wizard:hover, .mobile-wizard.ui-combobox-text:hover {
	background-color: #eee;
}

#mobile-wizard .ui-header.mobile-wizard-widebutton {
	width: 100%;
	height: 56px !important;
	font-size: var(--default-font-size) !important;
	margin: 0px;
	padding: 0px;
	border: solid 1px transparent;
	display: flex;
	flex-direction: row;
	align-items: center;
	background-color: var(--color-main-background);
}

#mobile-wizard .ui-content .unobutton {
	width: 32px;
	height: 32px;
	vertical-align: middle;
}

#mobile-wizard .ui-content.unobutton.selected {
	box-shadow: 0 0 0px 8px var(--color-background-dark);
	border-radius: var(--border-radius);
	background-color: var(--color-background-dark);
}

.unotoolbutton.disabled, .mobile-wizard-widebutton.disabled {
	color: silver;
}

.unotoolbutton.disabled img, .mobile-wizard-widebutton.disabled img {
	-webkit-filter: grayscale(90%) brightness(120%);
	filter: grayscale(90%) brightness(120%);
	opacity: 0.75;
}

.mobile-wizard.unotoolbutton .arrowbackground {
	display: none;
}

#mobile-wizard-content .ui-content > table > tr > td > table > table > tr:first-child > td > img{
	margin-top: 0px !important;
}

.ui-content.unospan {
	line-height: 32px;
	display: table;
	padding-left: 4%;
}
.ui-content.unolabel {
	display: table-cell;
	vertical-align: middle;
}

.sub-menu-title {
	padding-left: 14%;
}
.sub-menu-title::before {
	width: 22px;
	height: 22px;
	content: ' ';
	display: block;
	position: absolute;
	left: 4%;
	margin: 0px 4px;
	background-color: #eee;
	border-radius: 20px;
	margin-right: 4%;
}
.sub-menu-arrow {
	-webkit-transform: rotate(180deg);
	-moz-transform: rotate(180deg);
	-ms-transform: rotate(180deg);
	-o-transform: rotate(180deg);
	transform: rotate(180deg);
	display: table-cell;
	padding-left: 10px;
	padding-right: 10px;
	background: url('images/lc_closedocmobile.svg') no-repeat left / 10px;
	font-size: 1.5em;
	font-weight: bold;
	color: transparent !important;
	vertical-align: middle;
	margin-right: 4%;
}

.func-info-icon {
	display: block;
	background: url('images/lc_helpindex.svg') no-repeat center;
	min-width: 28px;
	min-height: 28px;
}

.func-info-sig {
	margin: 1em 0px 1em 4%;
	font-weight: bold;
	color: #444444 !important;
}

.func-info-desc {
	margin-left: 4%;
}

.entry-value {
	display: table-cell;
	vertical-align: middle;
}

.ui-header-right {
	display: table;
	margin-right: 4%;
}
.ui-header-left {
	margin-left: 4%;
	max-width: 62% !important;
}
.ui-header.level-1.mobile-wizard.ui-widget .ui-header-left span.menu-entry-with-icon {
	vertical-align: middle;
}
.flex-fullwidth {
	flex-grow: 100;
}

.ui-tabs.mobile-wizard {
	text-align: center;
	height: 42px;
	display: table;
	width: 100%;
	padding: 0px;
}

#mobile-wizard-tabs {
	position: sticky;
	top: 0;
	z-index: 2;
	background-color: var(--color-background-lighter);
}

#mobile-wizard-header {
	position: sticky;
	top: 0;
	background-color: var(--color-background-lighter);
	z-index: 2;
}

.ui-tab.mobile-wizard {
	display: table-cell;
	width: 49%;
	height: 36px;
	line-height: 36px;
	vertical-align: middle;
	margin: 0px 1%;
	border-radius: 10px;
	border: none;
	color: var(--color-text-lighter);
}

.ui-tab.selected.mobile-wizard {
	border: none;
	color: var(--color-primary);
	border-radius: 0px;
	border-bottom: solid 1px var(--color-primary-dark);
}

[id|='tb_colorselector'] .w2ui-tb-caption > div {
	height: 32px !important;
	width: 32px !important;
}

[name|='colorselector'] {
	width: 80px;
}

.colorimage {
	float: left;
	height: 32px;
}

.spinfieldcontrols {
	background-color: var(--color-background-darker);
	text-align: center;
	display: inline-block;
	vertical-align: middle;
	border-left: 1px solid var(--color-border-dark);
}

.spinfieldunit {
	color: var(--color-text-dark) !important;
	width: 30px;
	margin: 0px 10px;
}

.plus {
	border-left: 1px solid var(--color-border-dark);
	font-size: 22px;
	width: 48px;
	height: 48px;
	color: var(--color-text-dark) !important;
	display: table-cell;
	vertical-align: middle;
}
.minus {
	border-right: 1px solid var(--color-border-dark);
	font-size: 22px;
	width: 48px;
	height: 48px;
	color: var(--color-text-dark) !important;
	display: table-cell;
	vertical-align: middle;
}
.spinfieldcontainer .plus:active, .spinfieldcontainer .minus:active{
	background-color: var(--color-primary-lighter);
	font-weight: bold
}
.spinfieldimage {
	width: 24px;
	height: 24px;
	vertical-align: middle;
	padding-left: 8px;
}

.spinfieldcontainer .spinfieldcontrols {
	height: 49px;
	float: right;
}
.spinfieldcontainer input.spinfield:not(.sidebar) {
	padding-top: 0px;
}
.mobile-wizard input.spinfield:disabled {
	background: linear-gradient(to right, white 0%, #ebebe4 15%, #ebebe4 40%, white 100%);
	color: var(--color-text-lighter) !important;
	border-radius: var(--border-radius);
	height: 48px !important;
}

input.spinfield:disabled + .spinfieldunit {
	color: var(--color-text-lighter) !important;
}

input.spinfield:disabled ~ .spinfieldcontrols * {
	color: var(--color-text-lighter) !important;
	border-color: var(--color-border-lighter) !important;
	background-color: var(--color-background-lighter);
}

input.spinfield:disabled ~ .spinfieldcontrols *:active, input.spinfield:disabled ~ .spinfieldcontrols *:hover, input.spinfield:disabled ~ .spinfieldcontrols *:focus {
	background-color: var(--color-background-lighter) !important;
	filter: none;
	font-size: 100%;
	font-weight: normal;
}

input.ui-edit.mobile-wizard {
	background-color: var(--color-background-lighter);
	color: var(--color-text-lighter);
	border: 1px solid var(--color-border-dark);
	border-radius: var(--border-radius);
	height: 32px;
}

/*insert table special layout*/
.inserttablecontrols p.ui-text{
	margin-left: 14%;
	width: 50%;
	border: none;
	padding-top: 1.2%;
	color: #555 !important;
}

.inserttablecontrols #rows, .inserttablecontrols #cols{
	background: url('images/lc_inserttable_row_mono.svg') no-repeat left;
	border-bottom: 1px solid var(--color-border-lighter) !important;
	width: 90%;
	border-radius: none;
}
.inserttablecontrols #cols{
	background: url('images/lc_inserttable_col_mono.svg') no-repeat left;
}
.inserttablecontrols .spinfield{
	width: 35% !important;
	margin-left: 10% !important;
	text-align: center;
}
.inserttablecontrols .plus, .inserttablecontrols .minus{
	border: none;
	font-weight: bold;
}
/*END insert table special layout*/

.leaflet-control-zoom.leaflet-bar{
	border: none !important;
}
a.leaflet-control-zoom-in {
	border-radius: 100px !important;
	padding: 8px !important;
	background-color: var(--color-primary) !important;
	color: var(--color-primary-text) !important;
	box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 4px 6px 0 rgba(0, 0, 0, 0.19) !important;
	border: none !important;
}
#slide-sorter .preview-img{
	border-radius: var(--border-radius);
	border-color: var(--color-border);
}
#slide-sorter .preview-img:hover{
	border-color: var(--color-primary-darker);
}
#slide-sorter .preview-img-currentpart, #mobile-wizard-header .preview-img-currentpart{
	border-color: var(--color-primary-dark);
	border-style: solid;
	border-radius: var(--border-radius);
}
#presentation-controls-wrapper {
	background: none;
	border: none;
}

.mobile-wizard.ui-combobox-text.checked {
	color: var(--color-primary-dark) !important;
}

.w2ui-icon.users{
	background-size: 20px !important;
}
.ui-content label{
	line-height: 44px;
	vertical-align: top;
	padding-left: 4%;
}
#buttonnone + label, #buttonbefore + label, #buttonafter + label, #buttonoptimal + label, #buttonparallel + label, #buttonthrough + label{
	padding-left: 0;
}
#mobile-wizard #Color > img{
	border-radius: 100px;
	background-color: var(--color-background);
}
.unotoolbutton.mobile-wizard {
	padding: 4% !important;
	margin: 0px !important;
	float: left;
}
#selectcolor.mobile-wizard.toolbox.level-1 {
	display: block;
}
#fillgrad1.ui-explorable-entry.level-1.mobile-wizard,
#fillgrad2.ui-explorable-entry.level-1.mobile-wizard,
#ratio.checkbutton, input#ratio {
	width: 100%;
	left: 0px;
}
#fliplabel.mobile-wizard.ui-text {
	bottom: 0px;
}
.unotoolbutton.mobile-wizard.ui-content.unospan-wrapoptions.has-label, #aligntoolbar, #aligntoolbar2 {
	text-align: center;
}
#aligntoolbar span, #aligntoolbar2 span {
	visibility: hidden;
}
#MergeCells > span{
	color: rgb(var(--blue1-txt-primary-color));
	text-align: end;
	vertical-align: bottom;
}
#DeleteTable{
	background-color: #fbf4f5;
	border-radius: var(--border-radius);
	padding-right: 4% !important;
}
#DeleteTable > span{
	font-weight: bold;
	color: var(--color-error);
	text-align: end;
	vertical-align: bottom;
}
.colorcontainer {
	width: 120px;
	float: left;
	padding: 20px !important;
}
#mobile-wizard #spacinglabel, #mobile-wizard #OutlineRight,
#mobile-wizard #DefaultBullet, #mobile-wizard #CellVertTop, #mobile-wizard #rowheight,
#mobile-wizard #columnwidth {
	float: left;
}

#mobile-wizard #StyleNewByExample + div, #mobile-wizard #AlignTop,
#mobile-wizard #AlignBottom + p, #mobile-wizard #mergecells, #mobile-wizard #BackgroundColor + p,
#mobile-wizard #LineSpacing, #mobile-wizard #indentlabel, #mobile-wizard #spacinglabel,
#mobile-wizard #sizelabel {
	clear: both;
}

#mobile-wizard #BackgroundColor + p, #mobile-wizard #LineSpacing + p,
#mobile-wizard #denominatorplaceslabel, #mobile-wizard #decimalplaceslabel,
#mobile-wizard #leadingzeroeslabel, #mobile-wizard #leftindentlabel,
#mobile-wizard #orientationlabel, #mobile-wizard #cellbackgroundlabel,
#mobile-wizard .mobile-wizard.ui-text {
	border-bottom: 1px solid var(--color-primary-dark);
	color: var(--color-primary) !important;
	margin-left: 4%;
	width: 92%;
	font-size: var(--default-font-size);
	font-weight: bold;
	clear: both;
}

#DecrementIndent + input:disabled{display: none;}
div#mobile-wizard-content input[type='number']{
	color: var(--color-text-dark);
	height: 46px;
	width: 37%;
	padding-left: 8%;
	border: none;
	-moz-appearance: textfield;
	-webkit-appearance: textfield;
	background-color: var(--color-background-dark);
}
div#mobile-wizard-content .spinfieldcontainer{
	height: 48px;
	width: -moz-available;
	width: -webkit-fill-available;
	margin: 0px 4% 8px !important;
	border: 1px solid var(--color-border-dark);
	background-color: var(--color-background-dark);
	border-radius: var(--border-radius);
	background-size: 28px;
	display: inline-block;
	overflow: hidden;
}
div#mobile-wizard-content .spinfieldcontainer .spinfieldimage {
	opacity: 0.5;
}
div#mobile-wizard-content .spinfieldcontainer:active .spinfieldimage, div#mobile-wizard-content .spinfieldcontainer:focus .spinfieldimage, div#mobile-wizard-content .spinfieldcontainer:hover .spinfieldimage {
	opacity: 1 !important;
}
div#mobile-wizard-content .spinfieldcontainer .spinfieldimage.disabled {
	opacity: 0.5 !important;
}
#mobile-wizard #Bold, #mobile-wizard #Italic, #mobile-wizard #Underline, #mobile-wizard #Strikeout{
	margin: 0;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	padding: 24px 32px;
	background-size: 24px !important;
}
#mobile-wizard #buttonbefore, #mobile-wizard #buttonafter, #mobile-wizard #buttonoptimal,
#mobile-wizard #buttonparallel, #mobile-wizard #buttonnone, #mobile-wizard #buttonthrough,
#mobile-wizard #bottom, #mobile-wizard #top, #mobile-wizard #standard {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	padding: 4% !important;
	margin: 0px !important;
	float: left;
	background-size: 24px !important;
}
#mobile-wizard-content > .unobutton:focus, #mobile-wizard-content .unobutton:active{
	outline: none;
	background-color: var(--color-primary-lighter) !important;
	box-shadow: 0 0 0px 8px var(--color-primary-lighter);
	border-radius: 0.1px;
}
#mobile-wizard #buttonbefore{background: url('images/sc_wrapleft.svg') no-repeat center;}
#mobile-wizard #buttonafter{background: url('images/sc_wrapright.svg') no-repeat center;}
#mobile-wizard #buttonoptimal{background: url('images/sc_wrapideal.svg') no-repeat center;}
#mobile-wizard #buttonparallel{background: url('images/sc_wrapmenu.svg') no-repeat center;}
#mobile-wizard #buttonnone{background: url('images/sc_wrapoff.svg') no-repeat center;}
#mobile-wizard #buttonthrough{background: url('images/sc_wrapthrough.svg') no-repeat center;}
#mobile-wizard #top{background: url('images/sc_aligntop.svg') no-repeat center;}
#mobile-wizard #bottom{background: url('images/sc_alignbottom.svg') no-repeat center;}
#mobile-wizard #standard{background: url('images/sc_alignverticalcenter.svg') no-repeat center;}
.checkbutton{
	clear: both;
}
.checkbutton label {
	line-height: 44px;
	vertical-align: top;
	padding-left: 4%;
	font-size: var(--default-font-size);
}
#tsbshow.checkbutton {
	display: table;
	width: 100%;
}
#tsbshow.checkbutton label {
	display: table-cell;
	line-height: normal;
	padding: 10px 2px 10px 15px;
}
#mobile-wizard input[type='checkbox']:disabled{
	border: 2px solid var(--color-border-lighter);
	box-shadow: 0px 0px 2px 1px var(--color-border-lighter);
}
#mobile-wizard input[type='checkbox']{
	width: 24px;
	height: 24px;
	margin: 10px 20px 10px 0px !important;
	float: right;
	-webkit-appearance: none;
	-moz-appearance: none;
	-o-appearance: none;
	appearance: none;
	border-radius: var(--border-radius);
	border: 2px solid var(--color-border);
	outline: none;
	box-shadow: 0px 0px 2px 1px var(--color-box-shadow);
}
#mobile-wizard input[type='checkbox']:checked{
	background: url('images/lc_ok_white.svg') no-repeat center;
	background-color: var(--color-primary-lighter);
	border-radius: var(--border-radius);
	border: 2px solid var(--color-primary);
	outline: none;
	box-shadow: none;
}
#mobile-wizard input[type='checkbox']:before{
	width: 20px;
	height: 20px;
}
#mobile-wizard input[type='checkbox']:after{
	top: -20px;
	width: 16px;
}

#mobile-wizard input[type='radio']:disabled{
	border: 2px solid var(--color-border-lighter);
	box-shadow: none;
}
#mobile-wizard input[type='radio']{
	border-radius: 50%;
	width: 24px;
	height: 24px;
	margin: 10px 20px 10px 0px !important;
	float: right;
	-webkit-appearance: none;
	-moz-appearance: none;
	-o-appearance: none;
	appearance: none;
	border: 2px solid var(--color-border);
	outline: none;
	box-shadow: #00000015 0px 0px 2px 1px;
}
#mobile-wizard input[type='radio']:checked{
	background: url('images/lc_ok_white.svg') no-repeat center;
	background-color: var(--color-primary-lighter);
	border: 2px solid var(--color-primary);
	outline: none;
	box-shadow: none;
}
#mobile-wizard input[type='radio']:checked:disabled{
	background-color: var(--color-border-lighter) !important;
	border: 2px solid var(--color-border-lighter) !important;
}
#mobile-wizard input[type='radio']:before{
	width: 20px;
	height: 20px;
}
#mobile-wizard input[type='radio']:after{
	top: -20px;
	width: 16px;
}

#enablecontour + label{
	line-height: 44px;
	vertical-align: baseline;
	padding-left: 24px;
}
#SdTableDesignPanel + .ui-content div[id^='Use']{
	width: 92%;
	padding-right: 4% !important;
}
input[type='checkbox']#UseBandingColumnStyle, input[type='checkbox']#UseLastColumnStyle, input[type='checkbox']#UseFirstColumnStyle, input[type='checkbox']#UseBandingRowStyle, input[type='checkbox']#UseLastRowStyle, input[type='checkbox']#UseFirstRowStyle{
	margin-right: 0px !important;
}
#mobile-wizard #FontworkSameLetterHeights {
	display: flex;
	padding: 0px;
	align-items: center;
}
#mobile-wizard #FontworkSameLetterHeights > * {
	flex: 1 auto;
	color: var(--color-primary-text);
}
#mobile-wizard #FontworkSameLetterHeights > img {
	filter: brightness(3);
}
#mobile-wizard button,
#mobile-wizard #FontworkSameLetterHeights {
	height: 44px;
	width: 92%;
	border-radius: var(--border-radius);
	color: var(--color-primary-text) !important;
	font-weight: bold;
	background-color: var(--color-primary);
	border: 1px solid var(--color-primary);
	margin: 5px 4%;
	font-size: var(--default-font-size);
}
#mobile-wizard button:focus{
	outline: none;
}
#mobile-wizard button:active{
	outline: none;
	border: none;
	background-color: var(--color-primary-lighter);
}
#mobile-wizard button:disabled{
	background-color: var(--color-background-lighter);
	border-color: var(--color-background-lighter);
	color: var(--color-text-lighter) !important;
}
#mobile-wizard button#cancel {
	background-color: transparent;
	border-color: var(--color-border-lighter);
	color: var(--color-text-lighter) !important;
}
#enablecontour + button {
	float: right;
	margin: 24px 0px;
}
div#enablecontour + p, #arrangelabel, #SetMinimalRowHeight {clear: both;}

label.disabled {
	color: var(--color-text-lighter) !important;
}

.ui-checkbox.mobile-wizard {
	margin-top: 25px;
	padding-left: 2% !important;
	width: 100%;
}

.ui-header-left > input, .ui-checkbox.mobile-wizard > label {
	margin-left: 2% !important;
	width: 100%;
}

.combobox {
	width: -moz-available !important;
	width: -webkit-fill-available !important;
}

.ui-edit.mobile-wizard,
.ui-textarea.mobile-wizard {
	/*
	, textarea was also here assign but it was messing up with all textareas (annotations on desktop and vex on mobile):
	- added 93038: jsdialog: style dialogs; a5016d547c6242f6f9b28748b5724b0bc10cdb67
	*/
	width: -moz-available;
	width: -webkit-fill-available;
	margin: 10px 5% !important;
}

#mobile-wizard #label9, #documentlabel-mobile {
	border: none;
	font-size: var(--header-font-size);
}

#mobile-spell-error {
	border: none;
	font-size: var(--header-font-size);
	color: red !important;
}

#searchlabel {
	border: none;
	font-size: var(--default-font-size);
}

#toolbar-search {
	background-color: var(--color-main-background);
}
.w2ui-toolbar table {
	height: var(--header-height);
}

#criteria.ui-tab, #inputhelp.ui-tab {
	width: 30% !important;
}

.mobile-wizard .ui-drawing-area-container:not(:only-of-type) .ui-drawing-area {
	margin: 10px 5% !important;
}

#TableEditPanel + .ui-content #misc_label.mobile-wizard {
	display: none;
}

.wizard-comment-box {
	padding: 5px 10px 10px !important;
	display: table !important;
	width: 100% !important;
	width: -webkit-fill-available !important;
	width: -moz-available !important;
}

#mobile-wizard-popup .ui-header[id^='comment'],
#mobile-wizard .ui-header[id^='comment'] {
	padding: 5px 10px 10px !important;
	display: table;
	width: -moz-available !important;
	box-sizing: border-box !important;
}

/* Annotations - comments */

#mobile-wizard-popup .lool-annotation-content-author,
#mobile-wizard .lool-annotation-content-author {
	font-weight: bold;
}

#mobile-wizard-popup .lool-annotation-author *,
#mobile-wizard .lool-annotation-author * {
	color: var(--color-text-lighter) !important;
	font-size: var(--default-font-size);
}

#mobile-wizard-popup .lool-annotation-reply-count,
#mobile-wizard .lool-annotation-reply-count {
	grid-column: 2;
	grid-row: 1;
	margin-right: 32px;
	align-self: center;
	padding: 0 !important;
	justify-self: end;
	color: #636363;
}

#mobile-wizard-popup .lool-annotation-table,
#mobile-wizard .lool-annotation-table {
	grid-column: 1 / 2;
	grid-row: 1;
}

#mobile-wizard-popup .lool-dont-break,
#mobile-wizard .lool-dont-break {
	grid-column: 1 / 2;
	grid-row: 2;
}

#mobile-wizard-popup .lool-annotation-content-wrapper,
#mobile-wizard-popup .lool-annotation-redline-content-wrapper,
#mobile-wizard .lool-annotation-content-wrapper,
#mobile-wizard .lool-annotation-redline-content-wrapper {
	display: grid !important;
}

#mobile-wizard-popup .lool-annotation-content-wrapper {
	width: 100% !important;
	width: -webkit-fill-available !important;
	width: -moz-available !important;
}

#mobile-wizard-popup .sub-menu-arrow,
#mobile-wizard .sub-menu-arrow {
	grid-column: 2;
	grid-row: 1;
}

#mobile-wizard-content.content-has-no-comments {
	height: calc(100% - 48px);
	min-height: auto;
}

#mobile-wizard-content.content-has-no-comments #mobile-wizard-scroll-indicator {
	display: none;
}

#mobile-wizard-popup .empty-comment-wizard-container,
#mobile-wizard .empty-comment-wizard-container {
	height: 100%;
	margin: 0;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-content: center;
	background: var(--color-main-background);
}

#mobile-wizard-popup .empty-comment-wizard-img,
#mobile-wizard .empty-comment-wizard-img {
	width: 78px;
	flex: 2;
	margin: auto;
	opacity: 0.5;
}

#mobile-wizard-popup .empty-comment-wizard,
#mobile-wizard .empty-comment-wizard {
	flex: 1;
	font-size: xx-large;
	text-align: center;
	color: var(--color-text-lighter);
	padding-bottom: 32px;
}

#mobile-wizard-popup .empty-comment-wizard-link,
#mobile-wizard .empty-comment-wizard-link{
	color: var(--color-primary);
	display: flex;
	justify-content: center;
	font-size: large;
	padding-top: 16px;
	text-decoration: none;
}

#mobile-wizard-popup .lool-annotation,
#mobile-wizard .lool-annotation,
.ui-explorable-entry .lool-annotation {
	position: relative !important;
	z-index: auto;
}

.ui-explorable-entry .lool-annotation-header {
	height: auto !important;
}

/* Fontwork property panel */
#ExtrusionToggle.mobile-wizard {
	display: inline-table
}

#fontworkshape {
	display: flex;
	flex-wrap: wrap;
}

#mobile-wizard #FontworkShapeType-fontwork-plain-text, #mobile-wizard #FontworkShapeType-fontwork-wave, #mobile-wizard #FontworkShapeType-fontwork-inflate, #mobile-wizard #FontworkShapeType-fontwork-stop, #mobile-wizard #FontworkShapeType-fontwork-curve-up, #mobile-wizard #FontworkShapeType-fontwork-curve-down, #mobile-wizard #FontworkShapeType-fontwork-triangle-up, #mobile-wizard #FontworkShapeType-fontwork-triangle-down, #mobile-wizard #FontworkShapeType-fontwork-fade-right, #mobile-wizard #FontworkShapeType-fontwork-fade-left, #mobile-wizard #FontworkShapeType-fontwork-fade-up, #mobile-wizard #FontworkShapeType-fontwork-fade-down, #mobile-wizard #FontworkShapeType-fontwork-slant-up, #mobile-wizard #FontworkShapeType-fontwork-slant-down, #mobile-wizard #FontworkShapeType-fontwork-fade-up-and-right, #mobile-wizard #FontworkShapeType-fontwork-fade-up-and-left, #mobile-wizard #FontworkShapeType-fontwork-chevron-up, #mobile-wizard #FontworkShapeType-fontwork-chevron-down, #mobile-wizard #FontworkShapeType-fontwork-arch-up-curve, #mobile-wizard #FontworkShapeType-fontwork-arch-down-curve, #mobile-wizard #FontworkShapeType-fontwork-arch-left-curve, #mobile-wizard #FontworkShapeType-fontwork-arch-right-curve, #mobile-wizard #FontworkShapeType-fontwork-circle-curve, #mobile-wizard #FontworkShapeType-fontwork-open-circle-curve, #mobile-wizard #FontworkShapeType-fontwork-arch-up-pour, #mobile-wizard #FontworkShapeType-fontwork-arch-down-pour, #mobile-wizard #FontworkShapeType-fontwork-arch-right-pour, #mobile-wizard #FontworkShapeType-fontwork-circle-pour, #mobile-wizard #FontworkShapeType-fontwork-open-circle-pour
{
	padding: 4% !important;
	margin: 0px !important;
	float: left;
}

.unospan-fontworkshape > span {
	display: none !important;
}

#fontworkproperties + .ui-content {
	display: inline-flex;
	flex-wrap: wrap;
	align-items: flex-start;
}

#fontworkproperties + .ui-content > div {
	margin: 0 !important;
	padding: 0 !important;
	flex: 1 30%;
	display: flex;
	flex-direction: column;
	align-items: center;
}

#fontworkproperties + .ui-content > div > * {
	flex: 1 44px;
	text-align: center;
}


/* Treeview */
.mobile-wizard.ui-treeview {
	margin-left: 4%;
	margin-right: 4%;
}

/* Shape > Line > Line Style */
#mobile-wizard #popup-XLineStyle {
	text-align: center;
}

#mobile-wizard #popup-XLineStyle #valueset img {
	width: auto;
}

/* Paragraph properties */
#mobile-wizard #paraspacingimg,
#mobile-wizard #aboveparaspacingimg,
#mobile-wizard #belowparaspacingimg,
#mobile-wizard #firstlineindentimg,
#mobile-wizard #indentimg,
#mobile-wizard #beforetextindentimg,
#mobile-wizard #aftertextindentimg {
	display: none;
}

/* Mobile wizard popup */
#mobile-wizard-popup .lokdialog.ui-dialog-content {
	overflow-x: hidden;
}
