@keyframes vex-fadeout {
	0% {
		opacity: 1; }
	100% {
		opacity: 0; } }

/* Infobar */
.vex-theme-bottom-right-corner .vex-dialog-message {
	font-size: 1em;
}
.vex-dialog-external-url::before {
	content: 'URL';
	border-radius: var(--border-radius);
	padding: 1px 2px;
	margin-right: 2px;
	font-size: 11px;
	border: 1px solid var(--color-border-lighter);
	background: var(--color-background-lighter);
	color: var(--color-text-lighter);
	box-sizing: border-box;
	vertical-align: top;
	font-weight: bold;
}
.vex-dialog-external-url {
	font-size: 16px;
	font-weight: normal;
}
/* Place above statusbar */
.vex.vex-theme-bottom-right-corner .vex-content {
	bottom: 40px !important;
	right: 10px !important;
}

/* Vex dialogs */
.vex-open .vex-overlay {
	/* TODO: remove specific z-index from our codebase
	so that the following line can also be removed */
	z-index: 2000;
	background-color: var(--color-overlay);
	min-height: 100%;
	min-width: 100%;
	position: absolute;
	top: 0px;
}

.vex-content .vex-footnote {
	color: var(--color-main-text) !important;
	font-size: 0.78em;
}
/* dialog shown when user is idle */
.vex-open .lool-user-idle {
	background: var(--color-background-lighter) !important;
	font-size: xx-large !important;
	color: var(--color-main-text) !important;
	text-align: center !important;
}
.vex-open .lool-user-idle .vex-dialog-buttons {
	display: none !important;
}
.vex-open .loleaflet-user-idle .title {
	font-size: 2rem;
	margin: 0;
}
.vex-open .loleaflet-user-idle .content {
	font-size: 20px;
	margin: 0;
}

.vex.vex-theme-plain, .vex.vex-theme-bottom-right-corner{
	z-index: 2001 !important;
}

.vex.vex-theme-plain .vex-dialog-title {
	margin-bottom: .5em;
	font-size: var(--header-font-size);
	color: var(--color-main-text);
}

.vex.vex-theme-plain .vex-dialog-button-spacer {
	visibility: hidden;
	padding: 0;
	margin: 0;
	border: none;
	flex: 1;
	max-width: 24px;
}

.vex-content.vex-3btns .vex-dialog-buttons {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}
.vex-content.vex-3btns .vex-dialog-buttons > button:not(.button-secondary) {
	flex: 1 auto;
}
.vex.vex-theme-plain .vex-content,
.vex-dialog-message {
	font-size: var(--header-font-size);
	color: var(--color-main-text);
}

.vex.vex-theme-plain .vex-dialog-form .vex-dialog-input select, .vex.vex-theme-plain .vex-dialog-form .vex-dialog-input textarea, .vex.vex-theme-plain .vex-dialog-form .vex-dialog-input input[type='date'], .vex.vex-theme-plain .vex-dialog-form .vex-dialog-input input[type='datetime'], .vex.vex-theme-plain .vex-dialog-form .vex-dialog-input input[type='datetime-local'], .vex.vex-theme-plain .vex-dialog-form .vex-dialog-input input[type='email'], .vex.vex-theme-plain .vex-dialog-form .vex-dialog-input input[type='month'], .vex.vex-theme-plain .vex-dialog-form .vex-dialog-input input[type='number'], .vex.vex-theme-plain .vex-dialog-form .vex-dialog-input input[type='password'], .vex.vex-theme-plain .vex-dialog-form .vex-dialog-input input[type='search'], .vex.vex-theme-plain .vex-dialog-form .vex-dialog-input input[type='tel'], .vex.vex-theme-plain .vex-dialog-form .vex-dialog-input input[type='text'], .vex.vex-theme-plain .vex-dialog-form .vex-dialog-input input[type='time'], .vex.vex-theme-plain .vex-dialog-form .vex-dialog-input input[type='url'], .vex.vex-theme-plain .vex-dialog-form .vex-dialog-input input[type='week'] {
	background-color: var(--color-background-dark);
	border-radius: var(--border-radius);
	border: 1px solid var(--color-border-dark);
	color: var(--color-text-dark);
}

.vex-content.vex-3btns .vex-dialog-buttons .vex-dialog-button-cancel {
	display: none;
}

.vex.vex-theme-plain .vex-content,
.vex.vex-theme-bottom-right-corner .vex-content {
	box-shadow: 0 1px 10px 1px var(--color-box-shadow);
	border-radius: var(--border-radius-large);
	background-color: var(--color-background-lighter);
	outline: none;
}

.vex-selectable {
	-webkit-touch-callout: text;
	-webkit-user-select: text;
	-khtml-user-select: text;
	-moz-user-select: text;
	-ms-user-select: text;
	user-select: text;
}

.vex.vex-theme-plain .vex-close:before {
	color: var(--color-main-text);
	border: 1px solid transparent;
	border-radius: 50%;
	width: 48px;
	height: 48px;
	line-height: 48px;
	font-size: 36px;
}
.vex.vex-theme-plain:hover .vex-close:hover:before {
	color: var(--color-text-darker);
	background-color: var(--color-background-darker);
	border: 1px solid var(--color-border-darker);
}

#about-dialog {
	color: var(--color-main-text);
}
#about-dialog hr {
	border: 1px solid var(--color-border);
}

.vex-closing {
	-webkit-animation: vex-fadeout .25s forwards;
	animation: vex-fadeout .25s forwards;
}

.vex.vex-theme-plain .vex-dialog-form .vex-dialog-input input{
	border-radius: var(--border-radius);
	box-shadow: inset 0 0 2px 0 var(--color-box-shadow);
	box-sizing: border-box;
}

.vex {
	position: fixed;
	overflow: auto;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
}

/* Keyboard input keys */
kbd,
.kbd {
	background-color: var(--color-background-dark);
	border-radius: var(--border-radius);
	border: 1px solid var(--color-border-dark);
	color: var(--color-text-dark);
	display: inline-block;
	font-family: monospace;
	font-size: .85em;
	line-height: 1;
	padding: 4px;
	white-space: nowrap;
}

.kbd--plus {
	color: var(--color-text-dark);
	padding: 0 4px;
	font-size: 0.85em;
}

.warn-copy-paste {
	width: 100%;
}

/* Integrator: feature locking */
.vex.vex-theme-plain .vex-content.vex-locking {
	width: 652px;
}

.vex.vex-theme-plain .vex-content.vex-locking h1 {
	margin-bottom: .5em;
	font-size: 1.1em;
	color: #fda208;
}

.vex.vex-theme-plain .vex-content.vex-locking:not(.mobile) h1 {
	margin-inline-start: 1.1em;
}

.vex.vex-theme-plain .vex-content.vex-locking p {
	margin-inline-start: 1.2em;
}

.vex.vex-theme-plain .vex-content.vex-locking ul {
	list-style: none;
	padding: 0;
	font-size: 0.84em;
	text-shadow: 1px 1px 12px #ffbf0038, 0 0 0.5px #00000026;
}

.vex.vex-theme-plain .vex-content.vex-locking ul li::before {
	content: '\2022';
	color: #fda208;
	font-weight: bold;
	display: inline-block;
	width: 1em;
	margin-inline-start: 0.5em;
}

.vex.vex-theme-plain .vex-content.vex-locking .container {
	display: flex;
	flex-direction: row;
}
.vex.vex-theme-plain .vex-content.vex-locking .container .item {
	color: #444;
	flex: 1;
}
.vex.vex-theme-plain .vex-content.vex-locking .container .item.illustration {
	flex: 1.3;
	background: transparent  no-repeat left 4px /contain;
	height: 288px;
}

.vex.vex-theme-plain .vex-content.vex-locking .button-primary {
	background-color: var(--color-primary);
	color: var(--color-primary-text);
	border-color: var(--color-primary-dark);
	text-shadow: 0 0 8px var(--color-primary-dark);
}

.vex.vex-theme-plain .vex-content.vex-locking .button-primary:hover {
	border-color: var(--color-primary-darker) !important;
	background-color: var(--color-primary-darker);
	color: var(--color-primary-text);
	text-shadow: none;
}

.vex.vex-theme-plain .vex-content.vex-locking.mobile .container .item p {
	font-size: 1.1em !important;
	font-family: var(--jquery-ui-font);
	margin-left: 5px;
	margin-right: 5px;
}
.vex.vex-theme-plain .vex-content.vex-locking.mobile .container .item h1 {
	text-align: center;
	font-size: 1.4em !important;
}
.vex.vex-theme-plain .vex-content.vex-locking.mobile ul {
	text-shadow: none;
	font-size: 1em !important;
	margin-left: 5px;
	margin-right: 5px;
}
.vex.vex-theme-plain .vex-content.vex-locking.mobile ul li::before {
	width: 0.8em;
	margin-left: 0em;
}
.vex.vex-theme-plain .vex-content.vex-locking.mobile .container {
	flex-direction: column;
}
.vex.vex-theme-plain .vex-content.vex-locking.mobile .container .item.illustration {
	flex: 2 1 auto;
	height: 238px;
	background-position: center;
}
.vex.vex-theme-plain .vex-content.vex-locking.mobile .button-primary {
	background-color: #fda918 !important;
	border-color: #cc8202 !important;
	text-shadow: 0 0 0.5px #cc8202;
}
.vex.vex-theme-plain .vex-locking.mobile .vex-dialog-buttons {
	display: flex;
	flex-direction: column-reverse;
}

.slider, .slides > div {
	width: 100%;
}

.slider {
	text-align: center;
	overflow: hidden;
	height: auto;
	margin: auto;
}

.slides {
	display: flex;
	overflow-x: auto;
	scroll-snap-type: x mandatory;
	scroll-behavior: smooth;
	-webkit-overflow-scrolling: touch;
	padding-bottom: 1em;
}
.slides::-webkit-scrollbar {
	display: none;
}
.slides::-webkit-scrollbar-thumb {
	background: black;
	border-radius: 10px;
}
.slides::-webkit-scrollbar-track {
	background: transparent;
}
.slides > div {
	scroll-snap-align: start;
	flex-shrink: 0;
	border-radius: 10px;
	transform-origin: center center;
	transform: scale(1);
	transition: transform 0.5s;
	position: relative;
}
.slides > div > * {
	margin-right: 164px;
	margin-left: 164px;
}
.author-info {
	background: var(--color-main-background);
	color: var(--color-main-text);
	padding: 0.75rem;
	text-align: center;
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	margin: 0;
}
.author-info a {
	background: var(--color-main-background);
	color: var(--color-main-text);
}

.slider > [id^='i-slide'] {
	display: inline-flex;
	width: 14px;
	height: 14px;
	background: linear-gradient(to top, var(--color-background), var(--color-background-darker));
	text-decoration: none;
	align-items: center;
	justify-content: center;
	border-radius: 50%;
	margin: 0 0 0.5rem 0.5rem;
	position: relative;
	color: transparent;
}
.slider > [id^='i-slide'].active {
	background: #444;
}
.slider > [id^='i-slide']:focus,
.slider > [id^='i-slide']:hover {
	background: #666;
}

/* Don't need button navigation */
@supports (scroll-snap-type) {
	.slider > a {
		display: none;
	}
}

/* Hiding scroll bar */
#user-welcome * {
	box-sizing: border-box;
	-ms-overflow-style: none;
	scrollbar-color: transparent transparent;
	scrollbar-width: 0px;
}

#user-welcome *::-webkit-scrollbar {
	width: 0;
}

#user-welcome *::-webkit-scrollbar-track {
	background: transparent;
}

*::-webkit-scrollbar-thumb {
	background: transparent;
	border: none;
}

.slides h1 {
	font-size: 22px;
	font-weight: normal;
	margin-bottom: 4px;
}
.slides h2 {
	font-size: 16px;
	font-weight: normal;
	margin-top: 0;
}
.slides p,
#view-supported-versions {
	font-size: 14px;
	font-weight: normal;
}
.slides fig {
	height: 232px;
	display: block;
}
#slide-1 fig {
	background-image: linear-gradient(to top,#e6e6e6c4,#e6e6e64f 3%,white 33%);
	border-radius: 0 0 50% 50%;
	display: flex;
	justify-content: center;
	align-items: center;
}
#slide-1 #fig-slide1-l {
	background: url('images/welcome/slide1-left.png')  no-repeat center;
	width: 68px;
	height: 68px;
	box-shadow: 0 0 8px 1px #00000040;
	border-radius: 100%;
}
#slide-1 #fig-slide1-c {
	background: url('images/welcome/slide1-center.png')  no-repeat center;
	width: 96px;
	height: 96px;
	box-shadow: 0 0 12px 1px #00000040;
	border-radius: 100%;
	margin: 42px 32px 0;
}
#slide-1 #fig-slide1-r {
	background: url('images/welcome/slide1-right.png')  no-repeat center;
	width: 68px;
	height: 68px;
	box-shadow: 0 0 8px 1px #0000005e;
	border-radius: 100%;
}
#slide-2 fig {
	background: url('images/welcome/slide2.png') no-repeat center;
}
#slide-3 fig {
	background: url('images/welcome/slide3.png') no-repeat center;
	box-shadow: 0 0 8px 1px #e5e5e5;
	width: 342px;
	margin: 12px auto;
	border-radius: 8px;
}
#view-supported-versions {
	text-align: center;
	display: block;
}
#user-welcome--buttons {
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
	position: relative;
	margin-right: 72px
}
